{% assign number_of_products = 3 %}
{% assign number_of_products_to_fetch = number_of_products | plus: 1 %}

{% if collection == null or collection.handle == 'frontpage' or collection.handle == 'all' %}
  {% assign found_a_collection = false %}
  {% for c in product.collections %}
    {%- comment %}<locksmith:4497>{% endcomment -%}
      {%- include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: c, locksmith_subject_parent: product %}{% if locksmith_transparent %}{% else %}{% continue %}{% endif -%}
    {%- comment %}</locksmith:4497>{% endcomment -%}
    {% if found_a_collection == false and c.handle != 'frontpage' and c.handle != 'all' and c.all_products_count > 1 %}
      {% assign found_a_collection = true %}
      {% assign collection = c %}
    {% endif %}
  {% endfor %}
{% endif %}

{% if collection and collection.products_count > 1 %}
  <section class="related-products">
    <hr>
    <h2 class="section-header__title h3">{{ 'products.general.related_products_title' | t }}</h2>
    <div class="grid grid--uniform">
      {% assign current_product = product %}
      {% assign current_product_found = false %}
      {%- comment %}<locksmith:a23b>{% endcomment -%}
        {%- assign locksmith_b647_forloop__size = 0 %}{% for product in collection.products limit: number_of_products_to_fetch %}{% include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: product %}{% if locksmith_transparent %}{% assign locksmith_b647_forloop__size = locksmith_b647_forloop__size | plus: 1 %}{% endif %}{% endfor %}{% assign locksmith_b647_forloop__index = nil -%}
      {%- comment %}</locksmith:a23b>{% endcomment -%}
      {% for product in collection.products limit: number_of_products_to_fetch %}
        {%- comment %}<locksmith:a59b>{% endcomment -%}
          {%- include 'locksmith-variables', locksmith_scope: 'subject', locksmith_subject: product, locksmith_subject_parent: collection %}{% if locksmith_transparent %}{% if locksmith_b647_forloop__index == nil %}{% assign locksmith_b647_forloop__index = 1 %}{% assign locksmith_b647_forloop__index0 = 0 %}{% else %}{% assign locksmith_b647_forloop__index = locksmith_b647_forloop__index | plus: 1 %}{% assign locksmith_b647_forloop__index0 = locksmith_b647_forloop__index0 | plus: 1 %}{% endif %}{% if locksmith_b647_forloop__index == 1 %}{% assign locksmith_b647_forloop__first = true %}{% else %}{% assign locksmith_b647_forloop__first = false %}{% endif %}{% if locksmith_b647_forloop__index == locksmith_b647_forloop__size %}{% assign locksmith_b647_forloop__last = true %}{% else %}{% assign locksmith_b647_forloop__last = false %}{% endif %}{% assign locksmith_b647_forloop__rindex = locksmith_b647_forloop__size | minus: locksmith_b647_forloop__index | minus: 1 %}{% assign locksmith_b647_forloop__rindex0 = locksmith_b647_forloop__size | minus: locksmith_b647_forloop__index0 | minus: 1 %}{% else %}{% continue %}{% endif -%}
        {%- comment %}</locksmith:a59b>{% endcomment -%}
        {% if product.handle == current_product.handle %}
          {% assign current_product_found = true %}
        {% else %}
          {% unless current_product_found == false and locksmith_b647_forloop__last %}
            {% include 'product-grid-item' %}
          {% endunless %}
        {% endif %}
      {% endfor %}
    </div>
  </section>
{% endif %}
