{%- assign force_secondary_background = true -%}

<div class="page__content-wrapper">
  <div class="container">
    <div class="page__header">
      <h1 class="page__title h1">{{ page.title }}</h1>
    </div>

    <div class="box box--shrinked">
      <div class="box__content box__content--large-padding rte">
        {{ page.content }}
		<div style="margin:0 auto;" class="pxFormGenerator" id="VP6LEhOU9HSrPRM2bK49UQ"></div>		        
      </div>
    </div>
  </div>
</div>